<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<file>f:\test\wpkg.js</file>
	<path-user></path-user>
	<path-password></path-password>
	<exec-user>SYSTEM</exec-user>
	<exec-password></exec-password>
	<parameters>/quiet /nonotify /synchronize</parameters>
	<silent>YES</silent>
	<pre-action>notepad.exe</pre-action>
	<post-action>notepad.exe</post-action>
	<show-GUI>NO</show-GUI>
	<logon-delay>1</logon-delay>
	<logon-message-1>TODO: insert logon message 1</logon-message-1>
	<logon-message-2>TODO: insert logon message 2</logon-message-2>
	<script-variable name="SCRIPTVARNAME1">SCRIPTVARVALUE1</script-variable>
	<script-variable name="SCRIPTVARNAME2">SCRIPTVARVALUE2</script-variable>
	<script-variable name="SCRIPTVARNAME3">SCRIPTVARVALUE3</script-variable>
	<script-variable name="SCRIPTVARNAME4">SCRIPTVARVALUE4</script-variable>
	<script-variable name="SCRIPTVARNAME5">SCRIPTVARVALUE5</script-variable>
	<script-variable name="SCRIPTVARNAME6">SCRIPTVARVALUE6</script-variable>
	<script-variable name="SCRIPTVARNAME7">SCRIPTVARVALUE7</script-variable>
	<script-variable name="SCRIPTVARNAME8">SCRIPTVARVALUE8</script-variable>
	<script-variable name="SCRIPTVARNAME9">SCRIPTVARVALUE9</script-variable>
	<priority>normal</priority>
</configuration>